@using ClientMonitor
@{
    Layout = null;
}

<!DOCTYPE html>



@{
    ViewBag.Title = "Параметры ClientMonitor";
}


<table>
    <tr>
        <th>Id</th>
        <th>Note</th>
        <th>Date</th>
    </tr>

    @foreach(var country in ViewBag.DataForEdit)
    {
    <tr>
        <td>@country.Id</td>
        <td>@country.Date</td>
        <td>@country.Note</td>
    </tr>
    }
</table>